* {
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: rgb(37, 37, 37);
}

.navbar {
  position: fixed;
  width: 100%;
  height: 7vh;
  z-index: 1000;
  box-shadow: 0 5px 3px rgb(195, 195, 195);
  background-color: #f4f4f4;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0 10vw;
  height: 100%;
}

.menu-toggle {
  display: none;
}


.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: rgb(37, 37, 37);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  padding-top: 7vh;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}

.hero-text {
  flex: 1;
  max-width: 50%;
  text-align: left;
}

.hero-text h1 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  text-align: left;
}

.hero-text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: left;
  max-width: 95%;
  text-align: justify;
}

.btn {
  text-align: center;
  background: #ffcc00;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  width: 41%;
  margin: 20px auto;
  margin-bottom: 0;
  border-radius: 5px;
}

.hero-image {
  flex: 1;
  max-width: 45%;
  display: flex;
  justify-content: center;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.section {
  text-align: center;
  width: 100%;
  background: #f4f4f4;
}

.bg-light {
  background: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  padding: 3rem 0;
  margin: 0 auto;
}

.container h2 {
  font-size: 1.7rem;
}

.service-grid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  column-gap: 2rem;
}

.service-card {
  width: 25%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
  text-align: center;
}

.service-card p {
  text-align: justify;
}

.why-us {
  background-color: white;
}

.why {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.left {
  width: 80%;
}


.right {
  width: 80%;
}

.right img {
  max-width: 500px;
  border-radius: 10px;
  float: right;
}

.left h2 {
  text-align: left;
  padding-left: 42px;
}

.why-list {
  list-style: none;
  margin: 0 auto;
  text-align: left;
}

.why-list li {
  width: 75%;
  font-size: 1.2em;
  background: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: left;
}

.steps {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 1.5rem;
}

.step {
  font-size: 1.2em;
  background: white;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
}

.contact {
  background-color: white;
}

.contact .container p {
  margin-top: 0;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form button {
  width: 33%;
  background: #007bff;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
}

/* Footer */
.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.footer p {
  margin: 0;
}

@media(max-width : 1200px) {

  .navContainer {
      width: 90vw;
      margin: 0 5vw;
  }

  .logo {
      font-size: 1.2rem;
  }

  .nav-links li {
      margin: 0 7px;
      font-size: 0.8rem;
  }

  .hero-container {
      width: 90vw;
  }

  .hero-text h1 {
      font-size: 1.35rem;
  }

  .hero-text p {
      font-size: 0.9rem;
  }

  .hero-text .btn {
      width: 41%;
      font-size: 0.75rem;
  }

  .container {
      width: 90vw;
  }

  .container h2 {
      font-size: 1.25rem;
      margin-top: 0;
  }

  .service-card h3 {
      font-size: 0.9rem;
  }

  .service-card p {
      font-size: 0.75rem;
  }

  .left h2 {
      font-size: 1.25rem;
  }

  .why-list li {
      font-size: 0.9rem;
  }

  .right img {
      max-width: 400px;
  }

  .steps {
      row-gap: 0.75rem;
  }

  .step {
      font-size: 0.9rem;
  }

  .contact-form {
      max-width: 400px;
  }

  .footer p {
      margin: 0;
      font-size: 0.9rem;
  }
}

@media(max-width : 800px) {

  .navContainer {
      width: 90vw;
      margin: 0 5vw;
  }

  .logo {
      font-size: 1rem;
  }

  .nav-links li {
      margin: 0 6px;
      font-size: 0.7rem;
  }

  .hero-container {
      width: 90vw;
  }

  .hero-text h1 {
      font-size: 1.15rem;
  }

  .hero-text p {
      font-size: 0.8rem;
  }

  .hero-text .btn {
      width: 45%;
      font-size: 0.75rem;
  }

  .container {
      width: 90vw;
  }

  .container h2 {
      font-size: 1.15rem;
      margin-top: 0;
  }

  .service-grid {
      column-gap: 1rem;
  }

  .service-card h3 {
      font-size: 0.8rem;
      height: 30%;
  }

  .service-card p {
      font-size: 0.55rem;
  }

  .left h2 {
      font-size: 1.15rem;
  }

  .why-list li {
      font-size: 0.75rem;
  }

  .right img {
      max-width: 350px;
  }

  .howh2 {
      margin-bottom: 0;
  }

  .steps {
      row-gap: 0.65rem;
  }

  .step {
      font-size: 0.8rem;
  }

  .contact-form {
      max-width: 375px;
  }

  .contact-form input {
      font-size: 0.75rem;
  }

  .contact-form .btn {
      font-size: 0.7rem;
      width: 40%;
  }

  .footer p {
      margin: 0;
      font-size: 0.9rem;
  }
}

@media (max-width: 500px) {


  .navContainer {
      width: 90vw;
      margin: 0 5vw;
  }

  .menu-toggle {
      display: block;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 5.2vh;
      left: 0;
      width: 100%;
      background: #f4f4f4;
      text-align: center;
      padding: 10px 0;
      margin: 0 auto;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links li {
      margin: 5px 0;
      font-size: 0.5rem;
  }

  .logo {
      font-size: 1rem;
  }

  .hero {
      height: auto;
      width: 100%;
  }

  .hero-container {
      width: 90vw;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 0 5vw;
  }

  .hero-text {
      min-width: 100%;
  }

  .hero-text h1 {
      text-align: center;
      font-size: 1.2rem;
      width: 100%;
  }

  .hero-text p {
      font-size: 0.7rem;
      width: 85%;
      text-align: justify;
      margin: 0 auto;
  }

  .hero-text .btn {
      width: 45%;
      font-size: 0.75rem;
      text-align: center;
      padding: 6px 2px;
      font-weight: bold;
      display: block;
      margin: 15px auto;
      margin-bottom: 0;
      border-radius: 5px;
  }

  .hero-image img{
      width: 300px;
      margin: 20px auto;
  }

  .container {
      width: 90vw;
  }

  .container h2 {
      font-size: 1.1rem;
      margin-top: 0;
  }

  .service-grid {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
  }

  .service-card{
      padding: 10px;
      width: 100%;
  }

  .service-card h3 {
      font-size: 0.65rem;
      height: 20%;
  }

  .service-card p {
      font-size: 0.55rem;
  }

  .left h2 {
      font-size: 1.15rem;
  }

  .why{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 20px 0;
  }

  .why .left h2{
      padding: 0;
      text-align: center;
  }

  .why-list{
      padding: 0;
  }

  .why-list li {
      font-size: 0.75rem;
      margin: 0 auto;
      margin-bottom: 10px;
  }

  .right{
      display: flex;
      justify-content: center;
  }

  .right img {
      max-width: 90vw;
  }

  .howh2 {
      margin-bottom: 0;
  }

  .steps {
      row-gap: 0.65rem;
  }

  .step {
      font-size: 0.8rem;
  }

  .contact-form {
      max-width: 375px;
  }

  .contact-form input {
      font-size: 0.75rem;
  }

  .contact-form .btn {
      font-size: 0.6rem;
      width: 50%;
  }

  .footer p {
      margin: 0;
      font-size: 0.75rem;
  }
}